*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family:Poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family:Manrope ;
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}
.wrapper{
    width: 100%;
}
:root{
    --White:#FFF;
    --Grey:#F4F6FC;
    --Dark-blue: #282938;
    --Royal-Blue:#2405f2;
    --Yellow: #FCD980;
    --Accent:#EEF4FA;
    --b:#1D2130;
}