.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar .navbarLogo{
    width: 80%;
}
label[for=show]{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 2%;
    border: 2px solid lightgray;
    border-radius: 4px;
    cursor: pointer;
}
label[for=show] div {
    width: 80%;
    height: 2px;
    background-color: lightgray;
    position: absolute;
    left: calc(50% - 80% / 2);
    top: calc(50% - 2px / 2);
}

label[for=show] div:nth-of-type(1) {
    width: 80%;
    height: 2px;
    background-color: lightgray;
    position: absolute;
    left: calc(50% - 80% / 2);
    top: calc(50% - 2px / 2 - 5px);
}

label[for=show] div:nth-of-type(2) {
    width: 80%;
    height: 2px;
    background-color: lightgray;
    position: absolute;
    left: calc(50% - 80% / 2);
    top: calc(50% - 2px / 2 + 5px);
}
#show, #close {
    display: none;
}
#show:checked ~ .menu{
    display: block;
    right: 0;
}
label[for=close]{
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    background-color:transparent;
    font-size: 35px;
    cursor: pointer;
    transition: 300ms;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    
}
label[for=close]:hover {
    background-color: crimson;
}

#close:checked ~ .menu {
    right: -100%;
}